# Course 1: Supply Chain Planning

## Module 1: Activity

Compute the **simple moving average**, **weighted moving average**, and **exponential smoothing** forecasts for the data in the Excel file `C1M1-Forecast Activity`.

In [23]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
file_path = r"D:\2-Datasets from Various Resources\Supply Chains Domain Knowledge\Leverage DS Spec\Course1\C1M1-Forecast Activity.xlsx"
df_m_avg = pd.read_excel(file_path, sheet_name='Moving Avg FCST')
df_w_avg = pd.read_excel(file_path, sheet_name='Weighted Moving Avg')
df_exp = pd.read_excel(file_path, sheet_name='Exponential Smoothing')

## Step 1: Theoretical Overview of Forecasting Methods

In this exercise, we will apply three popular time series forecasting techniques on historical demand data to help with supply chain planning. Below is a brief theoretical overview of each method:

### ðŸ”µ Simple Moving Average (SMA)

**Definition**:  
The Simple Moving Average smooths out short-term fluctuations by calculating the average of demand over a fixed number of past periods.

**Formula**:  
$$
\text{SMA}_t = \frac{1}{n} \sum_{i=0}^{n-1} D_{t-i}
$$

- $D_t$: Demand at time *t*  
- $n$: Number of periods

**Use Case**:  
Best used when demand is stable and doesn't exhibit strong trends or seasonality.

---

### ðŸŸ  Weighted Moving Average (WMA)

**Definition**:  
The Weighted Moving Average assigns more importance (weight) to recent demand values when calculating the average.

**Formula**:  
$$
\text{WMA}_t = \sum_{i=0}^{n-1} w_i \cdot D_{t-i}
$$

- $w_i$: Weight applied to the demand at time *t-i*  
- Weights must sum to 1.

**Use Case**:  
Useful when recent data is more relevant to future predictions than older data.

---

### ðŸŸ£ Exponential Smoothing (ES)

**Definition**:  
Exponential Smoothing forecasts are a weighted average of past demand values, where the weights decrease exponentially over time.

**Formula**:  
$$
\hat{F}_{t+1} = \alpha D_t + (1 - \alpha) \hat{F}_t
$$

- $\hat{F}_{t+1}$: Forecast for next period  
- $D_t$: Actual demand at current period  
- $\alpha$: Smoothing factor (between 0 and 1)

**Use Case**:  
Ideal for noisy data without clear trends or seasonal patterns.

---

In the following steps, we will compute all three forecasts using Python instead of Excel, which allows for more flexible, scalable, and automatable workflows.

### Moving Average

In [4]:
df_m_avg.head()

   Month  Demand  3-month moving avereage  6-month moving average
0      1     650                      NaN                     NaN
1      2     678                      NaN                     NaN
2      3     720                      NaN                     NaN
3      4     785                      NaN                     NaN
4      5     859                      NaN                     NaN

In [5]:
# Rename the column with the correct spelling
df_m_avg.rename(columns={"3-month moving avereage": "3-month moving average"}, inplace=True)
df_m_avg.columns

Index(['Month', 'Demand', '3-month moving average', '6-month moving average'], dtype='object')

In [6]:
# Compute 3-month and 6-month moving averages
df_m_avg['3-month moving average'] = df_m_avg['Demand'].rolling(window=3).mean() 
df_m_avg['6-month moving average'] = df_m_avg['Demand'].rolling(window=6).mean()
df_m_avg.head(10)

   Month  Demand  3-month moving average  6-month moving average
0      1     650                     NaN                     NaN
1      2     678                     NaN                     NaN
2      3     720              682.666667                     NaN
3      4     785              727.666667                     NaN
4      5     859              788.000000                     NaN
5      6     920              854.666667              768.666667
6      7     850              876.333333              802.000000
7      8     758              842.666667              815.333333
8      9     892              833.333333              844.000000
9     10     920              856.666667              866.500000

### Weighted Moving Average

In [7]:
df_w_avg.head()

   Month  Demand  Weight  Forecast
0      1   650.0     NaN       NaN
1      2   678.0     NaN       NaN
2      3   720.0     NaN       NaN
3      4   785.0     NaN       NaN
4      5   859.0     NaN       NaN

In [8]:
# Let's assume a 3-month weighted average with these weights
weights = np.array([0.5, 0.3, 0.2])

def weighted_moving_average(values, weights):
    return np.dot(values, weights)

# Create the forecast column
df_w_avg['Forecast'] = df_w_avg['Demand'].rolling(window=3).apply(
    lambda x: weighted_moving_average(x, weights), raw=True
)
df_w_avg.head(10)

   Month  Demand  Weight  Forecast
0      1   650.0     NaN       NaN
1      2   678.0     NaN       NaN
2      3   720.0     NaN     672.4
3      4   785.0     NaN     712.0
4      5   859.0     NaN     767.3
5      6   920.0     NaN     834.2
6      7   850.0     NaN     875.5
7      8   758.0     NaN     866.6
8      9   892.0     NaN     830.8
9     10   920.0     NaN     830.6

### Step 2 â€“ Weighted Moving Average (WMA)

#### ðŸ§  Concept

The **Weighted Moving Average (WMA)** is a time series forecasting method that assigns different weights to recent observations, usually giving **more importance to more recent data points**.

The forecast is calculated as:

$$
\text{Forecast}_t = w_1 \cdot x_{t-2} + w_2 \cdot x_{t-1} + w_3 \cdot x_t
$$

Where:
- $x_{t-2}, x_{t-1}, x_t$ are the demand values from the previous 3 months,
- $w_1, w_2, w_3$ are the corresponding weights, and
- The weights should sum to **1.0**.

In this exercise, we are using the following weights:

```python
weights = np.array([0.2, 0.3, 0.5])  # From oldest to newest

In [11]:
# Final dataframe output

df_w_avg.drop(columns=['Weight'], inplace=True)
df_w_avg.fillna('Unapplicable', inplace=True)
df_w_avg.head(7)

C:\Users\lelo9\AppData\Local\Temp\ipykernel_22924\3248007574.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unapplicable' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_w_avg.fillna('Unapplicable', inplace=True)

   Month Demand      Forecast
0      1  650.0  Unapplicable
1      2  678.0  Unapplicable
2      3  720.0         672.4
3      4  785.0         712.0
4      5  859.0         767.3
5      6  920.0         834.2
6      7  850.0         875.5

### Exponential Smoothing

In [9]:
df_exp.head()

   Period  Demand  Forecast alpha = 0.1  Forecast alpha = 0.5
0       1      71                   NaN                   NaN
1       2      70                   NaN                   NaN
2       3      69                   NaN                   NaN
3       4      68                   NaN                   NaN
4       5      64                   NaN                   NaN

In [12]:
# Choose smoothing factors
alpha_1 = 0.1
alpha_2 = 0.5

# Compute Exponential Smoothing for both alpha values
df_exp[f'Forecast Î± = {alpha_1}'] = df_exp['Demand'].ewm(alpha=alpha_1, adjust=False).mean()
df_exp[f'Forecast Î± = {alpha_2}'] = df_exp['Demand'].ewm(alpha=alpha_2, adjust=False).mean()

# Display first 10 rows
df_exp.head(10)

,Period,Demand,Forecast alpha = 0.1,Forecast alpha = 0.5,ES,Forecast Î± = 0.1,Forecast Î± = 0.5
0,1,71,NaN,NaN,71.000000,71.000000,71.000000
1,2,70,NaN,NaN,70.500000,70.900000,70.500000
2,3,69,NaN,NaN,69.750000,70.710000,69.750000
3,4,68,NaN,NaN,68.875000,70.439000,68.875000
4,5,64,NaN,NaN,66.437500,69.795100,66.437500
5,6,65,NaN,NaN,65.718750,69.315590,65.718750
6,7,73,NaN,NaN,69.359375,69.684031,69.359375
7,8,78,NaN,NaN,73.679688,70.515628,73.679688
8,9,75,NaN,NaN,74.339844,70.964065,74.339844
9,10,75,NaN,NaN,74.669922,71.367659,74.669922

In [13]:
df_exp.drop(columns=['Forecast alpha = 0.1', 'Forecast alpha = 0.5', 'ES'], inplace=True)
df_exp.head(7)

   Period  Demand  Forecast Î± = 0.1  Forecast Î± = 0.5
0       1      71         71.000000         71.000000
1       2      70         70.900000         70.500000
2       3      69         70.710000         69.750000
3       4      68         70.439000         68.875000
4       5      64         69.795100         66.437500
5       6      65         69.315590         65.718750
6       7      73         69.684031         69.359375

In [15]:
# I will save the result on the same file with different sheet names (append mode)
with pd.ExcelWriter(
    file_path,
    engine='openpyxl',
    mode='a',  # append mode
    if_sheet_exists='replace'  # replace only if sheet name matches
) as writer:
    df_m_avg.to_excel(writer, sheet_name='SMA', index=False)
    df_w_avg.to_excel(writer, sheet_name='WMA', index=False)
    df_exp.to_excel(writer, sheet_name='ES', index=False)




# # I will save the result on the same file with different sheet names (overwrite mode)
# with pd.ExcelWriter(file_path) as writer:
#     df_m_avg.to_excel(writer, sheet_name='SMA', index=False)
#     df_w_avg.to_excel(writer, sheet_name='WMA', index=False)
#     df_exp.to_excel(writer, sheet_name='ES', index=False)

## Module 2: Supply Planning - No practical quiz/activity

## Module 3: Constraint Forecast

## Module 4: Measure Results

Errors discussed are MSE, MAD, MAPE

# Course 2: Inventory Management

## Lead Time and Calculation of Reorder point

using the equations shown in this moduleâ€™s video, compute the reorder points for these products (without factoring in variations in the demand process).

In [28]:
file_path2 = r"D:\2-Datasets from Various Resources\Supply Chains Domain Knowledge\Leverage DS Spec\Course2\Copy of Course 2 Module 1 Activity.xlsx"

df_reorder = pd.read_excel(file_path2, header=1)  # Use the second row as header (0-indexed)
df_reorder.head()

        Date Product ID  Unit Sold Supply Lead-time
0 2022-01-01        123      100.0                4
1 2022-02-01        123      246.0                4
2 2022-03-01        123      185.0                5
3 2022-04-01        123      271.0                4
4 2022-05-01        123      495.0                5

In [29]:
df_reorder.shape

(18, 4)

In [30]:
df_reorder

         Date    Product ID  Unit Sold Supply Lead-time
0  2022-01-01           123      100.0                4
1  2022-02-01           123      246.0                4
2  2022-03-01           123      185.0                5
3  2022-04-01           123      271.0                4
4  2022-05-01           123      495.0                5
5  2022-06-01           123      654.0                1
6  2022-07-01           123       70.0                5
7  2022-08-01           123      509.0                2
8  2022-09-01           123      729.0                4
9  2022-10-01           123      471.0                3
10 2022-11-01           123      385.0                3
11 2022-12-01           123      935.0                3
12        NaT           NaN        NaN              NaN
13        NaT           NaN        NaN              NaN
14        NaT           NaN        NaN              NaN
15        NaT           NaN        NaN              NaN
16        NaT  Holding Cost        0.5         per unit
17        NaT    Order Cost       50.0        per order

In [31]:
# Extract holding and order cost from the extra rows (assuming they are at index 12 and 13)
holding_cost = df_reorder.iloc[16, 2]  # 3rd column of index 16
order_cost = df_reorder.iloc[17, 2]    # 3rd column of index 17

# Remove all rows from index 12 onwards (keep only product data)
df_reorder = df_reorder.iloc[:12].reset_index(drop=True)

# Now df_reorder contains only the relevant product data
print(f"Holding Cost:, {holding_cost} per unit")
print(f"Order Cost:, {order_cost} per order")
df_reorder

Holding Cost:, 0.5 per unit
Order Cost:, 50.0 per order

         Date Product ID  Unit Sold Supply Lead-time
0  2022-01-01        123      100.0                4
1  2022-02-01        123      246.0                4
2  2022-03-01        123      185.0                5
3  2022-04-01        123      271.0                4
4  2022-05-01        123      495.0                5
5  2022-06-01        123      654.0                1
6  2022-07-01        123       70.0                5
7  2022-08-01        123      509.0                2
8  2022-09-01        123      729.0                4
9  2022-10-01        123      471.0                3
10 2022-11-01        123      385.0                3
11 2022-12-01        123      935.0                3

#### Feature Understanding

1. **Date**


2. **Product ID**


3. **Unit Sold**  

**Definition**: The quantity of product that was sold in that time period. It helps estimate demand.

**Importance**: This is our actual demand signal. Understanding how much is sold lets us plan how much to reorder.



4. **Supply Lead Time**  
**Definition**: The number of time units (e.g., days, weeks, months) it takes from placing a purchase order until the stock arrives and is ready for use/sale.

**Example for our data**:  
Supply Lead Time = 4 means if we order today, stock arrives in 4 units of time (likely months based on our Date column).


#### Supply Chain Terminologies